<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather analysis</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
  </head>
  <body>

    <div class="jumbotron">
<!--      <h1>  Weather in {{ weather.location.name }}  </h1>-->
      <h1 class="display-3">Weather in {{ weather.location.name }}</h1>
        <p></p>
      <h3 class="display-4">{{ weather.daily[0].weather.main }}</h3>
      <p></p>
      <p class="lead">Description: {{ weather.daily[0].weather.description }}</p>
      <p class="lead">Temperature: {{ weather.daily[0].temp.temp }}°C,
        min: {{ weather.daily[0].temp.temp_min }}°C,
        max: {{ weather.daily[0].temp.temp_max }}°C</p>
      <hr class="my-4">
      <div>
        {%for i in range(2, len)%}
            <h5>{{ weather.daily[i].date.weekday }}, {{ weather.daily[i].date.date }}</h5>
            <p>{{ weather.daily[i].weather.main }}, {{ weather.daily[i].temp.temp }}°C</p>
            <p></p>
            <hr class="my-4">
        {%endfor%}
      </div>
    </div>

  </body>
</html>
