<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather analysis</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}">
  </head>
  <body>

    <div class="jumbotron">
      <h1 class="display-3">Weather in {{ weather.location.name }}</h1><p></p>
      <div class="header">
        <h3 class="display-4">{{ weather.daily[0].weather.main }}
        <img src={{ weather.daily[0].weather.icon }}/></h3>
      </div>

      <p></p>
      <p class="lead">Description: {{ weather.daily[0].weather.description }}</p>
      <p class="lead">Temperature: {{ weather.daily[0].temp.temp }}°C,
        min: {{ weather.daily[0].temp.temp_min }}°C,
        max: {{ weather.daily[0].temp.temp_max }}°C</p>
      <hr class="my-4">
      <div>
        {%for i in range(2, len)%}
            <h5>{{ weather.daily[i].date.weekday }}, {{ weather.daily[i].date.date }}</h5>
            <p>{{ weather.daily[i].weather.main }}, {{ weather.daily[i].temp.temp }}°C</p>
            <p></p>
            <hr class="my-4">
        {%endfor%}
      </div>
    </div>

    <div class="footer">
      <p>Icons made by <a href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
    </div>
  </body>
</html>
