<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather analysis</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
  </head>
  <body>

    <div class="jumbotron">
      <h1>  Weather in {{ weather.location.name }}  </h1>
      <h4>{{ weather.daily[0].weather.main }}</h4>
      <p></p>
      <p>Description: {{ weather.daily[0].weather.description }}</p>
      <p>Temperature: {{ weather.daily[0].temp.temp }}°C,
        min: {{ weather.daily[0].temp.temp_min }}°C,
        max: {{ weather.daily[0].temp.temp_max }}°C</p>
      <hr class="my-4">
      <div>
        {%for i in range(0, len)%}
            <p>{{ weather.daily[i].weather.description }}</p>
            <p>Temperature: {{ weather.daily[i].temp.temp }}°C</p>
        {%endfor%}
      </div>
    </div>

  </body>
</html>
